

.bodySystemSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff; /* 배경 색상 */
    padding: 100px;

    text-align: center;
}
.textContainer {
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*
.text {
    max-width: 60%;
    margin-bottom: 200px;
}

.text h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}
*/
.title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 60px;
    color: #000;
    padding-left: 0.5rem;
}


.description {
    font-size: 30px;
    color: #666;
    line-height: 1.5;
    max-width: 800px;
    margin-top: 3px;
    margin-bottom: 10px;
}

.image-container img {
    width: 100%;
    max-width: 600px;
    margin-top: 90px;
    height:100%;
    object-fit: cover;
    border-radius: 8px;
}
