.graphSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    margin: 0 auto;
    overflow: hidden;
    background-color: #f5f5f5;

}

.textContainer {
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #000;
    padding-left: 0.5rem;
}

.description {
    font-size: 1.125rem;
    color: #666;
    line-height: 1.5;
    max-width: 450px;
    margin-top: 1rem;
}

.imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    transform: translateY(20px);
    height: auto; /* 높이를 자동으로 설정 */

}

.computerImage {
    position: relative;
    z-index: 1; /* 컴퓨터 이미지를 뒤에 배치 */
    width: 100%;
    object-fit: contain;
    height:100%;
}

.graphWrapper {
    position: absolute;
    display: flex;
    gap: 20px;
    z-index: 2;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.graphImage {
    width: 45%;
    padding:30px;
}


.textContainer {
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #000;
    padding-left: 0.5rem;
}

.description {
    font-size: 1.125rem;
    color: #666;
    line-height: 1.5;
    max-width: 450px;
    margin-top: 1rem;
}

.imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.computerImage {
    position: relative;
    z-index: 1; /* 컴퓨터 이미지를 뒤에 배치 */
    width: 100%;
    height: auto;
    object-fit: contain;
}

.graphWrapper {
    position: absolute;
    display: flex;
    gap: 20px;
    z-index: 2;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.graphImage {
    width: 45%;
    padding:30px;
}
.graphSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}

.textContainer {
    text-align: center;
    margin-bottom: 30px;
    opacity: 0; /* 초기 상태를 0으로 설정 */
    transform: translateY(20px); /* 살짝 아래에서 시작 */
    transition: opacity 3s ease, transform 0.5s ease;
}

.title {
    margin-top: 100px;
    font-size: 60px;
    font-weight: bold;
}

.description {
    margin-top: 40px;
    font-size: 30px;
    color: #666;
}

/* 애니메이션이 적용될 때 스타일 */
.fadeIn {
    opacity: 1;
    transform: translateY(0);
}

.imageContainer {
    position: relative;
    margin-top: 40px;
    width: 65% !important;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* 초기 상태를 0으로 설정 */
    transform: translateY(20px); /* 살짝 아래에서 시작 */
    transition: opacity 3s ease, transform 0.7s ease;
}

.computerImage {
    margin-top: 50px;
    padding-top: 100px;
    width: 100%;
    height: 700px;
    z-index: 1;
}

.graphWrapper {
    position: absolute;
    top: 25%;
    left: 15%;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 2;
}

.graphImage {
    width: 48%;
    height: auto;
    object-fit: contain;
}

/* 애니메이션이 적용될 때 스타일 */
.slideIn {
    opacity: 1;
    transform: translateY(0);
}
