.recordSection {
    display: flex;
    flex-direction: row;
    padding: 40px;
    background-color: #f0f0f0;
    height: 100vh;
}

.images {
    margin-top:100px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 150px;
    margin-left: 150px;
}

.images img {
    width: 800px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom:30px;
}

.recordSectionBackground {
    position: absolute;
    top: -20px;
    width: 100%;
    height: 100%;
    background-color: #dcdcdc;
    border-radius: 10px;
    z-index: -1;
}

.text {
    max-width: 33%;
    font-size: 1.5rem;
    line-height: 1.8;
    text-align:right;
    margin-right:10px;
    margin-top:100px;
}

.text h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}


.text p {
    white-space: pre-line;  /* 줄바꿈을 유지 */
    padding-top:30px;
    font-size: 25px;

}
