.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    border: 2px solid black;
    border-radius: 35px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    margin: 10px 0; /* 버튼 간격 조정 */
}

.button:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}
