.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 2.5em;
    color: #030303;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    font-size: 1.5em;
    color: #030303;
    margin-bottom: 10px;
    margin-top: 10px;
}

.line {
    margin: 20px 0 40px 0;
    border: 1px solid #030303;
}

.form {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #030303;
    border-radius: 4px;
}

.inputlabel {
    margin-bottom: 10px;
    color: #030303;
}
.loginButton {
    margin-top: 70px;
    padding: 20px;
    font-size: 1em;
    color: white;
    background-color: #0056b3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #004494;
}

.emailButton {
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    color: black;
    background-color: #e4e4e4;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
}


.findAccount {
    color:#030303;
    display: flex;
    justify-content: space-between; /* 양쪽 끝 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    padding: 5px;
    margin-top:10px;
    width: 100%; /* 전체 너비 사용 */
}

.firstMeet {
    font-size: 18px;
    margin: 0;
    padding: 0 10px;
}

.rightLinks {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
}
.error {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
    text-align: center;
}
