.chartContainer {
    display: flex; /* Flex로 가로 정렬 */
    gap: 2%;
    margin-top: 2%;
    align-items: center;

}

.chartCard {
    background: #ffffff ;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left:1rem;
    width: 30%;
    transition: transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.chartCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.chartTitle {
    font-size: 18px;
    font-weight: bold;
    color: #374151;
    margin-bottom: 10px;
    margin-left:50px;
}

.barChartContainer {
    display: flex;
    width: 100%;
    align-items: center;
    height:600px;
    margin-left: 50px;

}

.barChart {
    width: 80%; /* 그래프의 너비를 적절히 조정 */

}

